@import url('header.css');

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 5000px;
}

a.btn {
    display: block;
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
}

a.primary {
    background-color: rgb(174, 221, 105);
    color: black;
}