@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('header.css');

* {
    font-family: "kanit", sans-serif;
    padding: 0px;
    margin: 0px;
}

a.text-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.2s linear;
}

a.text-link:hover {
    color: black;
}

body {
    height: 5000px;
}

a.btn {
    display: block;
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
}

a.primary {
    transition: 0.2s;
    background-color: #BEE382;
    color: black;
}

a.primary:hover {
    background-color: #CDEC9C;
}