<header>
    <div class="header-container">
        <div class="header-col">
            <a class="link-brand" href="./"><img class="brand-icon" src="/brand/logo-sm.png" alt=""></a>
            <nav>
                <ul>
                    <li><a class="text-link" href="./">สินค้า</a></li>
                    <li><a class="text-link" href="./">ลูกค้าของเรา</a></li>
                    <li><a class="text-link" href="./">บริการของเรา</a></li>
                    <li><a class="text-link" href="./">ติดต่อเรา</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-col">
            <form action="">
                <input type="text" placeholder="ค้นหา">
                <button type="submit">
                    <img src="/icon/search.png" alt="">
                </button>
            </form>
            <a class="btn primary" href="./">เข้าสู่ระบบ</a>
        </div>
    </div>
</header>