<header>
    <div class="header-container">
        <div class="header-col">
            <img class="brand-icon" src="/brand/logo-sm.png" alt="">
        </div>
        <div class="header-col"></div>
        <div class="header-col">
            <a class="btn primary" href="">เข้าสู่ระบบ</a>
        </div>
    </div>
</header>